.users {
    display: flex;
}

.usersList {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.usersList a {
    text-decoration: none;
    font-size: 18px;
}

.userDetails {
    width: 50%;
}

.userDetails h1, .userDetails h3, .userDetails h3, .userDetails h4, .userDetails h5, .userDetails p {
    margin: 5px;
}

.postByUserId {
    border: cadetblue 2px solid;
    margin: 10px 0;
}